################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/SRC.Sharp/SRCSharpForm/assets.zip

# Ignore CSS source maps
*.css.map
