@using SRCTestBlazor.Models

<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="navbar-nav">
        <button class="btn nav-item nav-link @(currentKind == SrcDataKind.Unit ? " active": "")"
           @onclick:preventDefault
           @onclick="@(e => ChangeKind(e, SrcDataKind.Unit))"
           >Unit</button>
        <button class="btn nav-item nav-link @(currentKind == SrcDataKind.Pilot ? " active": "")"
           @onclick:preventDefault
           @onclick="@(e => ChangeKind(e, SrcDataKind.Pilot))"
           >Pilot</button>
    </div>
</nav>

@code {
    [Parameter]
    public EventCallback<SrcDataKind> OnChangeSrcDataKind { get; set; }

    private SrcDataKind currentKind = SrcDataKind.Unit;
    private async Task ChangeKind(MouseEventArgs e, SrcDataKind kind)
    {
        if (kind != currentKind)
        {
            currentKind = kind;
            await OnChangeSrcDataKind.InvokeAsync(kind);
        }
    }
}
