@using SRCCore.Models
<div id="@Data.Name">
<pre>@DataJson</pre>
</div>

@code {
    [Parameter]
    public PilotData Data { get; set; }

    private string DataJson => JsonConvert.SerializeObject(Data, Formatting.Indented);
}
