@using SRCCore.Models

<ul>
    @foreach (var fd in Features)
    {
        <li>
            @fd.Name
            @(fd.HasLevel ? $"Lv{fd.Level}" : "")
            @fd.StrData
        </li>
    }
</ul>

@code {
    [Parameter]
    public IEnumerable<FeatureData> Features { get; set; }
}
