@using System.Diagnostics;
@using System.Net.Http
@using System.Web
@using System.IO

@inject HttpClient Http

<TitleView SRC="@SRC" DataTitle="@DataTitle" />
<div class="container">
    <div id="status" class="message">@StatusText</div>
</div>

@code {
    [Parameter]
    public string DataPath { get; set; }
    [Parameter]
    public ICollection<string> DataFiles { get; set; }

    private SRC SRC = new SRC();
    private string StatusText = "";
    private string DataTitle { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        StatusText = "Now Loading...";

        var sw = new Stopwatch();
        sw.Start();

        SRC.UDList.Clear();
        SRC.PDList.Clear();

        var baseUri = DataPath;
        var dataFiles = DataFiles;
        DataTitle = Path.GetFileName(DataPath);
        foreach (var file in dataFiles)
        {
            try
            {
                switch (file.ToLower())
                {
                    case "unit.txt":
                    case "robot.txt":
                        SRC.UDList.Load(file, await Http.GetStreamAsync($"{baseUri}/{file}"));
                        Console.WriteLine($"{file} was loaded.");
                        break;
                    case "pilot.txt":
                        SRC.PDList.Load(file, await Http.GetStreamAsync($"{baseUri}/{file}"));
                        Console.WriteLine($"{file} was loaded.");
                        break;
                    case "pilot_message.txt":
                        SRC.MDList.Load(file, false, await Http.GetStreamAsync($"{baseUri}/{file}"));
                        Console.WriteLine($"{file} was loaded.");
                        break;
                    case "pilot_dialog.txt":
                        SRC.DDList.Load(file, await Http.GetStreamAsync($"{baseUri}/{file}"));
                        Console.WriteLine($"{file} was loaded.");
                        break;
                    default:
                        Console.WriteLine($"{file} is not supported.");
                        break;
                }
            }
            catch { }
        }

        sw.Stop();
        Console.WriteLine(sw.ElapsedMilliseconds);
        StatusText = $"{sw.ElapsedMilliseconds}ms";
        StateHasChanged();
    }
}
