@using System.Diagnostics;
@using System.IO;
@using System.Threading.Tasks

<TitleView SRC="@SRC" DataTitle="@DataTitle" />
<div id="status" class="message">@StatusText</div>

@code {
    [Inject]
    private HttpClient Http { get; set; }
    [Parameter]
    public string DataPath { get; set; }
    [Parameter]
    public ICollection<string> DataFiles { get; set; }

    private SRC SRC = new SRC();
    private string StatusText = "";
    private string DataTitle { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SRC.InitSPDList();
    }

    protected override async Task OnParametersSetAsync()
    {
        await UpdateData();
    }

    private async Task<MemoryStream> FetchAsMemoryStreamAsync(string url)
    {
        using var httpStream = await Http.GetStreamAsync(url);
        var memoryStream = new MemoryStream();
        await httpStream.CopyToAsync(memoryStream);
        memoryStream.Position = 0;
        return memoryStream;
    }

    private async Task UpdateData()
    {
        StatusText = "Now Loading...";

        var sw = new Stopwatch();
        sw.Start();

        SRC.UDList.Clear();
        SRC.PDList.Clear();
        //SRC.MDList.Clear();
        //SRC.DDList.Clear();
        SRC.IDList.Clear();

        var baseUri = DataPath;
        var dataFiles = DataFiles;
        DataTitle = Path.GetFileName(DataPath);
        foreach (var file in dataFiles)
        {
            try
            {
                switch (file.ToLower())
                {
                    case "unit.txt":
                    case "robot.txt":
                        SRC.UDList.Load(file, await FetchAsMemoryStreamAsync($"{baseUri}/{file}"));
                        Console.WriteLine($"{file} was loaded.");
                        break;
                    case "pilot.txt":
                        SRC.PDList.Load(file, await FetchAsMemoryStreamAsync($"{baseUri}/{file}"));
                        Console.WriteLine($"{file} was loaded.");
                        break;
                    case "pilot_message.txt":
                        SRC.MDList.Load(file, false, await FetchAsMemoryStreamAsync($"{baseUri}/{file}"));
                        Console.WriteLine($"{file} was loaded.");
                        break;
                    case "pilot_dialog.txt":
                        SRC.DDList.Load(file, await FetchAsMemoryStreamAsync($"{baseUri}/{file}"));
                        Console.WriteLine($"{file} was loaded.");
                        break;
                    case "item.txt":
                        SRC.IDList.Load(file, await FetchAsMemoryStreamAsync($"{baseUri}/{file}"));
                        Console.WriteLine($"{file} was loaded.");
                        break;
                    default:
                        Console.WriteLine($"{file} is not supported.");
                        break;
                }
            }
            catch (Exception ex)
            {
                Console.Error.WriteLine($"Error loading file [{file}]: {ex.Message}");
            }
        }

        sw.Stop();
        Console.WriteLine(sw.ElapsedMilliseconds);
        //StatusText = $"{sw.ElapsedMilliseconds}ms";
        StatusText = "";
        StateHasChanged();
    }
}
