@inherits LayoutComponentBase

<section class="hero">
    <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <NavLink href="/">SRC#DataViewer</NavLink>
            </div>
            <div class="navbar-menu">
                <nav class="navbar" role="navigation" aria-label="dropdown navigation">
                    <div class="navbar-item has-dropdown">
                        <a class="navbar-link">
                            Titles
                        </a>
                        <div class="navbar-dropdown">
                            <TitleNavMenu />
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
    </div>
    <main class="hero-body">
        @Body
    </main>
</section>