@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

@import "../node_modules/bulma/bulma";

// ユニット・パイロットのデータ
.card.src-data {
    .card-content {
        // card 内のコンテンツの余白
        // $desktop だとまだ余裕がある。ブレークポイントは特にBulmaとは関係ない感覚値。
        @media screen and (max-width: 640px) {
            // 左右余白をカットする
            padding: $card-content-padding 0;
            //.media {
            //    padding: 0 $card-content-padding;
            //}
        }

        @media screen and (max-width: $desktop) {
            // $table-cell-padding: 0.5em 0.75em !default
            // padding: $table-cell-padding
            table.table {
                th, td {
                    padding: 0.5em 0.25em;
                }
            }
        }

        font-size: 0.75rem;
        // メインの数値
        .level {
            max-width: 480px;
            margin-bottom: 0.5rem;

            .level-item {
                .heading {
                    font-size: 0.75rem;
                    margin-bottom: 0;
                }

                .title {
                    font-size: 1rem;
                }
            }
        }
        // 特殊能力
        ul {
            margin-left: 0;
            list-style-type: none;
        }
        // 武器・アビリティテーブル
        .name-cell {
            // データ定義の推奨合わせ
            width: 14em;
        }
        // メッセージのプレビュー
        .message-preview {
            font-size: 1rem;
        }
    }
}

.src-comment {
    font-family: $code-family;
    background-color: $pre-background;
    color: $pre;
    font-size: $pre-font-size;
    margin: 0;
    padding: 0.75rem 0.5rem;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

.src-raw {
    font-family: $code-family;
    background-color: $pre-background;
    color: $pre;
    font-size: $pre-font-size;
    margin: 0;
    padding: 0.75rem 0.5rem;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

// For Blazor
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
