name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master

env:
  PUBLISH_DIR: SRC.Sharp/SRCTestBlazor/bin/Release/net8.0/publish/wwwroot

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build project
        run: dotnet publish -c Release

      - name: Deploy to GitHub Pages
        run: |
          mv ${{ env.PUBLISH_DIR }}/index.html index.html
          # Keep the base href step
          echo '<base href="${{ env.PUBLISH_DIR }}/index.html">' > index.html

