name: Publish Puckage

on:
  push:
    tags:
      - 'v*'

jobs:
  push-nuget-package:
    name: Push Nuget Package to NuGet.org
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '8.0.x'

    - run: dotnet build SRC.Sharp/SRCCore/SRCCore.csproj --configuration Release
    - run: dotnet nuget push SRC.Sharp/SRCCore/bin/Release/SRCCore.*.nupkg -k $NUGET_OLG_API_KEY -s https://api.nuget.org/v3/index.json
      env:
        NUGET_OLG_API_KEY: ${{ secrets.NUGET_OLG_API_KEY }}

  release-github-artifacts:
    name: Release artifacts to GitHub
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '8.0.x'

    - run: dotnet publish SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj -c Release -r win-x64 -p:PublishSingleFile=true --self-contained false
    - run: rm SRC.Sharp/SRCSharpForm/bin/Release/net8.0-windows/win-x64/publish/*.pdb
    - run: powershell Compress-Archive -Path SRC.Sharp/SRCSharpForm/bin/Release/net8.0-windows/win-x64/publish/ -DestinationPath SRCSharpForm.zip
    
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          SRCSharpForm.zip
          LICENSE
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# Docker Hub 向けは Docker Hub でビルドする、、、ことができなくなったのでビルドする
# https://hub.docker.com/repository/docker/koudenpa/srcdatalinter/builds
  push-to-dockerhub:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set Tag name
        id: vars
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: koudenpa
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./SRC.Sharp/
          file: ./SRC.Sharp/SRCDataLinter/Dockerfile
          push: true
          tags: koudenpa/srcdatalinter:latest,koudenpa/srcdatalinter:${{ steps.vars.outputs.tag }}
